.ageno-default-typography h1 {
  display: block;
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ageno-default-typography h2 {
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ageno-default-typography h3 {
  display: block;
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ageno-default-typography h4 {
  display: block;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ageno-default-typography h5 {
  display: block;
  font-size: .83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.ageno-default-typography a {
  cursor: pointer;
  text-decoration:none
}

a:hover,
.ageno-default-typography a:focus { }

blockquote,
.ageno-default-typography aside {
  font-size: 1em;
  font-style: italic;
  padding: 1em;
  border-left: .33em solid rgba(0, 0, 0, 0.1);
  display: block;
  margin: 1em 3em;
  max-width: 32em;
}

blockquote p,
.ageno-default-typography aside p {
  margin: 0;
}

blockquote footer,
.ageno-default-typography aside footer {
  margin-top: 1em;
}

.ageno-default-typography code {
  padding: 0;
  margin: 0;
  font-size: .9em;
  border-radius: 3px;
  font-family: monospace;
  color: rgba(0, 0, 0, 0.7);;
}

.ageno-default-typography pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

.ageno-default-typography hr {
  display: block;
  clear: both;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .05));
  margin: 2em auto;
}

.ageno-default-typography p {
  display: block;
  clear: both;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.ageno-default-typography p.lead {
  font-size: 1.5em;
}

b,
.ageno-default-typography strong { font-weight: bold; }

em,
.ageno-default-typography i { font-style: italic; }

.ageno-default-typography del {
  text-decoration:line-through;
}

.ageno-default-typography mark {
  background-color: #fffbbb;
  color: inherit;
}

.ageno-default-typography small {
  font-size: 0.85em;
}

.ageno-default-typography table {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.ageno-default-typography tr:nth-of-type(odd) {
  background: rgba(0, 0, 0, 0.02);
}

.ageno-default-typography tr td:last-child {
  border-right: 1px solid rgba(0, 0, 0, 0.17);
}

.ageno-default-typography tr th:last-child  {
  border-right: 1px solid rgba(0, 0, 0, 0.8);
}

.ageno-default-typography td {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-left: 0;
  border-bottom: 0;
  padding: .75em 1em;
}

.ageno-default-typography th {
  display: table-cell;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  vertical-align: middle;
  font-weight: bold;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(0, 0, 0, 0.7);
  padding: .75em 1em;
}

.ageno-default-typography ul {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 2em;
}

.ageno-default-typography ul ul {
  list-style-type: circle;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

.ageno-default-typography ol {
    display: block;
    list-style-type: decimal;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2em;
}

.ageno-default-typography ol ol {
  list-style-type: lower-latin;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}

ul ol,
.ageno-default-typography ol ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 1em;
}


.ageno-default-typography li {
  display: list-item;
  margin-top: .25em;
  margin-bottom: .25em;
}

.ageno-default-typography img {
  max-width:100%;
  display: block;
}

.ageno-default-typography figure {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}

.ageno-default-typography figure img {
  margin-bottom: .25em;
  line-height: 1;
}

.ageno-default-typography figcaption {
  display: block;
  font-size: .9em;
  color: #777;
}
