/* Looking for more info? https://codex.wordpress.org/CSS */
/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: .25em 1em 1em 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 1em auto;
}

.alignright {
    float:right;
    margin: .2.25em 0 1em 1em;
}

.alignleft {
    float: left;
    margin: .25em 1em 1em 0;
}

a img.alignright {
    float: right;
    margin: .25em 0 1em 1em;
}

a img.alignnone {
    margin: .25em 1em 1em 0;
}

a img.alignleft {
    float: left;
    margin: .25em 1em 1em 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: .25em 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: .25em 1em 1em 0;
}

.wp-caption.alignleft {
    margin: .25em 1em 1em 0;
}

.wp-caption.alignright {
    margin: .25em 0 1em 1em;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px .25em;
}
